#eat{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgb(94, 104, 105);
    width: 50%;
    height: 50%;
    .eatContainer{
        margin-top: 5%;
        display: flex;
        flex-direction: row wrap;
        flex-grow: 1;   
        align-items: center;
        justify-content: center;
        button{
          font-size: 15px;
          border-radius: 10px;
          border: none;
          color:white;
          background: rgb(23, 77, 99);
          padding: 10px; 
          width: auto;
          height: 35px;
       }
      .btn-healthy-food{
        margin-right: 20px;      
       }
       
        .progressIncrease{
          z-index: 10;
          background-color: blue;
          display: block;
          position: absolute;
          top: 50%;
          left: 25%;
          width: 50%;
        }
      
    }
}