.overall-health{
    text-align: center;
    color:white;
    text-shadow: 1px 5px rgb(24, 25, 26);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

#average-pet-health{
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}
#progress{
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 1;
}
#pet{
    position: absolute;
    top: 53%;
    left: 44%;
    img{
        width: 200px;
    }
}